.page-container{
	padding-top: 200rpx;
	background-color: #FFFFFF;
	justify-content: flex-start;
}
.image-logo{
	width: 400rpx;
	height: 400rpx;
}

.invite-text{
	color: #333333;
	font-size: 28rpx;
}
.name{
	margin-top: 20rpx;
	font-size: 36rpx;
	font-weight: bold;
}
.name-view{
	flex-direction: row;
	align-items: center;
	margin-top: 60rpx;
	color: #333333;
	font-size: 28rpx;
	width:80%;
	height: 60rpx;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 2rpx;
	
	.label-text{
		width: 160rpx;
	}
}
.btn{
	margin-top: 80rpx;
	width:80%;
	height: 85rpx;
	line-height: 85rpx;
	font-size: 28rpx;
	border-radius: 8rpx;
	&.grey{
		background-color: transparent;
		border: 1rpx solid #dcdcdc;
	}
	&.primary{
		color: #FFFFFF;
		background-color: $uni-color-primary;
	}
	&.green{
		color: #FFFFFF;
		background-color: $uni-color-success;
	}
}
.login-result{
	margin: 40rpx 100rpx;
	.describe{
		font-size: 28rpx;
		line-height: 1.8;
		color: #999999;
		text-align: center;
	}
	.btn + .btn{
		margin-left: 40rpx;
	}
}

.tip-view{

	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-sizing: border-box;
	position: relative;
	flex: 1;
	justify-content: flex-end;
	padding-bottom: 40rpx;
	
	.link-text {
		color: $uni-color-primary;
		text-decoration: underline;
	}
}