.order-tips {
	margin: 40rpx 100rpx;
	.describe {
		font-size: 28rpx;
		line-height: 1.8;
		color: #999999;
		text-align: center;
	}
	.btn {
		margin-top: 80rpx;
		width: 80%;
		height: 85rpx;
		line-height: 85rpx;
		font-size: 28rpx;
		&.primary {
			color: #ffffff;
			background-color: $uni-color-primary;
		}
	}
}
