.top {
	position: relative;
	height: 318rpx;
	overflow: hidden;
	.image-bg {
		position: absolute;
		top: 0;
		right: 0;
		height: 318rpx;
		width: 100%;
	}
	.avatar-image{
		width: 120rpx;
		height: 120rpx;
	}
}
.menu{
	.item{
		flex: 1;
	}
}
.white {
	margin-bottom: 16rpx;
	background-color: #ffffff;
	&.padding {
		padding: 32rpx;
	}
	.lists-item {
		margin: auto 32rpx;
		padding: 32rpx 0;
		& + .lists-item {
			border-top: 1rpx solid #f6f6f6;
		}
		.icon-image {
			width: 40rpx;
			height: 40rpx;
		}
	}
}
.advertise-image {
	width: 100%;
	height: 200rpx;
	border-radius: 16rpx;
}
.icon-arrow {
	width: 30rpx;
	height: 30rpx;
	font-size: 32rpx;
}
.scroll-content {
	flex: 1;
	height: 100%;
	overflow: hidden;
}
