.invite {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-image: url('https://ttd-public.obs.cn-east-3.myhuaweicloud.com/app-img/invite-bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	.details {
		margin-top: 32rpx;
		margin-left: auto;
		width: 120rpx;
		font-size: 24rpx;
		line-height: 40rpx;
		text-align: center;
		color: #de6c26;
		background: linear-gradient(90deg, #fed8b0 0%, #fec58d 100%);
		box-shadow: 0rpx 4rpx 2rpx 2rpx rgba(120, 24, 26, 0.05000000074505806);
		border-radius: 24rpx 0rpx 0rpx 24rpx;
		opacity: 1;
	}
	.image-text {
		flex-shrink: 0;
		width: 100%;
	}
	.number-box {
		position: relative;
		margin-top: -40rpx;
		z-index: 1;
	}
	.number {
		padding: 0 42rpx;
		width: auto;
		height: 56rpx;
		font-size: 32rpx;
		line-height: 56rpx;
		text-align: center;
		color: #f95063;
		background: #ffffff;
		box-shadow: 0rpx 8rpx 4rpx 2rpx rgba(120, 24, 26, 0.15000000596046448);
		border-radius: 32rpx;
		opacity: 1;
		text {
			margin: auto 5rpx;
		}
	}
}
.content {
	margin-top: 40rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 800rpx;
	padding-top: 60rpx;
	position: relative;
	width: 100%;
	background-image: url('https://ttd-public.obs.cn-east-3.myhuaweicloud.com/app-img/invite-content.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	.rule {
		width: 500rpx;
		margin: 30rpx auto 0;
		font-size: 28rpx;
		color: #8c4c31;
		line-height: 1.7;
		.title {
			font-weight: bold;
		}
	}
	.image-code {
		width: 200rpx; 
		height: 200rpx;
	}
	.share {
		margin-top: 150rpx;
		width: 90%;
		font-size: 24rpx;
		box-sizing: border-box;
		.item{
			height: auto;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: initial;
			color: #fffbe8;
			background-color: transparent;
		}
		.image-item {
			margin-bottom: 10rpx;
			width: 112rpx;
			height: 112rpx;
		}
	}
}
